*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: sans-serif; 
    text-align: center; 
}


body {
    background-color: #ffdd79;
    color: white; 
}

h1 {
    padding: 20px; 
    color: black; 
}

.main {
    width: 25%; 
    min-width: 400px; 
    margin: 0 auto; 
    border: 3px solid black; 
    background-color:rgb(163, 163, 163);     
    border-radius: 20px; 
    padding: 10px; 
}

.main > *{
    padding: 5px
}

.main_score, .score_labels{
    display: flex;
    justify-content: space-around; 
    width: 100%;
    height: 100%; 
}

.main_score{
    margin-top: 10px; 
}


.box{
    width: 175px;
    height: 175px;
    background-color: white; 
    border-radius: 10px; 
    border: 1px solid black; 
    color: black; 
    align-self: center; 
    padding-top: 40px;
    font-size: 5rem;
}

button {
    width: 25%; 
    padding: 10px; 
    margin: 5px; 
    border-radius: 5px;
    border-style: none; 
    border: 1px solid black; 
    font-size: 1.125rem; 
}

span {
    font-weight: 700; 
}

p {
    font-size: 1.25rem; 
}

h1{
    font-size: 3rem; 
}

h2 {
    font-size: 2.75rem;
    margin-top: 10px; 

}

h3 {
    font-size: 2rem; 
    font-weight: 400; 
}

.choose {
    margin: 10px 0; 
    font-weight: 700; 
}


.result {
    display: block;
    color: white; 
    padding: 20px;
    font-size: 1.5rem; 
    display: block; 
}

.reset {
    margin-top: 20px; 
    font-size: 2rem; 
    width: 20%; 
    min-width: 200px; 
}

.choice, .reset{
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.choice:hover, .reset:hover {
    background-color: orange; 
    font-weight: 700; 
    transform: scale(1.1);
}

img {
    display: block; 
    max-height: 200px; 
    margin: 0 auto; 
}


@media only screen and (max-width: 550px){
    img {
        width: 100%; 
    }
}